.line-through {
  text-decoration: line-through;
}

.task-gradient {
  background: linear-gradient(to bottom right, #ec4899, #8b5cf6);
}

.task-card {
  background-color: #1f2937;
  color: #d1d5db;
}

.task-input {
  background-color: #374151 !important;
  color: #d1d5db !important;
}

::placeholder {
  color: #6b7280 !important;
  opacity: 1;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-form-field-infix {
  padding: 0 !important;
}

.mat-mdc-text-field-wrapper {
  background-color: #374151 !important;
  padding: 0 !important;
}

.mat-mdc-form-field-flex {
  padding: 0 !important;
}

.task-item {
  background-color: #374151;
  border-radius: 0.375rem;
  margin-bottom: 0.75rem;
}

.edit-button {
  color: #a78bfa !important;
}

.save-button {
  color: #a78bfa !important;
}

.delete-button {
  color: #ef4444 !important;
}

.add-button {
  color: #ec4899 !important;
}
